@model _08042019_MVC.Models.Siparis

@{
    ViewBag.Title = "Siparis Detayı";
}

<div class="jumbotron">
    <h3> Sipariş Detayı</h3>
</div>

<table>
    <tr>
        <th>
            Toplam Adet
        </th>
        <th>
            Toplam Tutar
        </th>
        <th>
            Ürün Adı
        </th>
    </tr>
    @*@foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor()</td>
        </tr>
    }*@
 
</table>



